*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: url(/descarga\ \(2\).jpg) ;
    justify-content: center;
    justify-content: space-between;
}
img{
    width: 100%;
    justify-content: space-between;
}
.row{
    display: flex;
    padding: 5px    ;
    flex-wrap: wrap;
}
.column{
    flex: 25%;
    padding: 5px;
    grid-template-columns: repeat(2 1fr);
    flex-basis: 25%;
}
.column img {
    margin-top: 5px;
    border: 10px solid brown;
    display: block;
    


}
@media(max-with:600px) {
    .column{
        flex: 50%;
        
    }
}
@media(max-with:600px) {
    .column{
        flex: 100%;
        
    }
}.header{
    margin: 0px;
    background-color: thistle;
    text-decoration: none;
    
}
.beta{
    width: 390px;

}
.val{
    width: 50px;
    
}